$icon-font-path: "../bower_components/bootstrap/fonts/";
@import '../bower_components/bootstrap-sass-official/vendor/assets/stylesheets/bootstrap';
$fa-font-path: "../bower_components/font-awesome/fonts";
@import '../bower_components/font-awesome/scss/font-awesome';

$amd-primary: #aa3939;
$amd-primary-text: #f5f5f5;

/**
 * App-wide Styles
 */

.browserupgrade {
  background: #ccc;
  color: #000;
  margin: 0.2em 0;
  padding: 0.2em 0;
}

// Component styles are injected through grunt
/* inject:scss */
@import 'admin/admin';
@import 'coupons/coupons';
@import 'main/main';
@import '../components/footer/footer';
@import '../components/navbar/navbar';
/* endinject */
